<% @contacts.each do |contact| %>
  <table border="1" cellspacing="0">
  <tr>
    <td><p><%= contact.name %></p></td>
    <td><p><%= contact.email %></p></td>
    <td><p><%= contact.comment %></p></td>
    <td><p><%=image_tag contact.picture.url unless contact.picture.url.nil?%></p></td>

  </tr>
  </table>
<% end %>